.d-flex{
    display: flex!important;
}
.container-view-login{
    min-height: 100pv;
    background-color: #dddd;    
}

.container-view-login-data{
    background-color: #ffff;
    width: 70%!important;
    height: 70%!important;
    max-width: 850px;
    max-height: 500px;
}