
.container-view-home{
    min-height: 100vh;
    background-color: #ebe9e9;    
}


.container-view-home-nav{
    max-width: 250px;
    min-height: 873px;
    background-color: #5b5f63;    
    color:  #fff;
}

.container-view-nav{
    width: 50pv;
    max-height: 210px;
    background-color: #136A94;
}

