.d-flex{
    display: flex;
}

.container-view-home{
    min-height: 100vh;
    background-color: #C0C2C8;    
}


.container-view-home-nav{
    max-width: 250px;
    min-height: 873px;
    background-color: #343A40;    
    color:  #fff;
}

.container-view-nav{
    width: 20pv;
    max-height: 200px;
    background-color: #136A94;
}
.container1
{
    background-color: white;
    border-radius: 10px;
    
}
.container2
{
    background-color: white;
     border-radius: 10px;
}