.d-flex{
    display: flex;
}

.container-view-home{
    min-height: 100vh;
    background-color: #C0C2C8;    
}


.container-view-home-nav{
    min-width: 100px;
    min-height: 910px;
    background-color: #fff;    
}

.container-view-nav{
    width: 20pv;
    height: 800px;
    // background-color: $blue-900;
}