.d-flex{
    display: flex!important;
}
.container-view-login{
    
    min-height: 150vh;
    max-height: 1000px;
    background-color: #dddd;    
}

.container-view-login-data{
    margin-top: 10%;
    background-color: #ffff;
    width: 70%!important;
    height: 70%!important;
    max-width: 850px;
    max-height: 1200px;
    margin-bottom: 10%;
}

.container-view-login-camp{
    background-color: #ddd;
    max-width: 850px;
    max-height: 900px;
    border-radius: 10px;
    padding: 2vh;
    margin-bottom: 10%;
}



